
/Bet365LiveAgent/obj
/.vs
/Bet365LiveAgent/bin
/Client/bin
/Bet365LiveAgent/bin
/Client/obj
/Client/obj
/BetburgerServer/bin
/Protocol/obj
/Launcher/obj
/Client/obj
/Bet365LiveAgent/bin
/BetburgerServer/obj
/Client/obj
/packages
